wifi_ssid     = 'YOUR-SSID'
wifi_password = 'YOUR-WIFI-PASSWORD'

thing_api_key = 'YOUR-THINGSPEAK-API-KEY'
thing_field   = 'field1'
--thing_field_chart_url = 'https://thingspeak.com/channels/168436/charts/3?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15
thing_field_chart_url = nil

ds1820_pin = 3
heat_pin = 6
cool_pin = 7

getTempInterval  = 30   -- 30 seconds
sendDataInterval = 15   -- 15 minutes
